<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<link rel="stylesheet" href="/media/modalbox/modalbox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/media/lib/modalbox/prototype.js"></script>
		<script type="text/javascript" src="/media/modalbox/lib/scriptaculous.js?load=builder,effects"></script>
		<script type="text/javascript" src="/media/modalbox/modalbox.js"></script>
	</head>
	<body style="background-color: orange; height: 1500px;">

		<p align="center">Δουλεύει το modal view???</p>
		
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<button type="button" onclick=""> close</button>
		<a href="/users/secry/add_courses"  onclick="Modalbox.show(this.href, {title: this.title, width: 600}); return false;">test</a>
	</body>
</html>
